<?xml version="1.0"?>
<configuration>

  <location path="Manage.aspx">
    <system.web>
      <authorization>
        <deny users="?"/>
      </authorization>
    </system.web>
  </location>

  <connectionStrings>
    <add name="hotel" connectionString="Data Source=(localdb)\v11.0; Initial Catalog=Hotel; Integrated Security=SSPI"/>
  </connectionStrings>

</configuration>


